@media (min-width: 801px) {
  .genreCardContainer {
    height: 90%;
    background-color: #F5F5F5;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-transform: lowercase;
  }
  
  .genre {
    margin: 50px 0;
  }
  
  .tasks {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
  }
  
  .equiMargin {
    margin: 0 100px;
  }
  
  .genreHeading {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }
  
  .genreHeading > p {
    position: absolute;
    height: 50px;
    width: 250px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: #4C63AA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    left: 100px;
  }
  
  .musicCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .equiMargin {
    margin: 0 50px !important;
  }  

  .tasks {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    margin: 30px 0;
  }

  .genreCardContainer {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .genreHeading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
  }
  
  .genreHeading > p {
    height: 50px;
    width: 250px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: #4C63AA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    bottom: 50px;
  }
}

@media (max-width: 550px) {
  .equiMargin {
    margin: 0 10px !important;
  }  

  .tasks {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: small !important;
    margin: 30px 0;
  }

  .genreCardContainer {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .genreHeading {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 0;
  }
  
  .genreHeading > p {
    height: 50px;
    width: 250px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: #4C63AA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
    left: 70px;
  }
}